<div *ngIf="mensagem_exclusao" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Sucesso!</strong> {{mensagem_exclusao}}
    <button type="button" class="close" aria-label="Close" (click)="limparMensagens()">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <i class="fa fa-list"></i> Consulta de Clientes
        </h6>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="filtro" placeholder="Pesquisar Clientes" />
                </div>
            </div>
        </div>

        <div class="table-responsive">

            <table class="table table-hover table-striped table-sm">

                <thead>
                    <tr>
                        <th>Nome do Cliente</th>
                        <th>Email</th>
                        <th>CPF</th>
                        <th>Cadastrado em</th>
                        <th>Modificado em</th>
                        <th>Operações</th>
                    </tr>
                </thead>

                <tbody>
                    <tr
                        *ngFor="let item of clientes | filter: filtro | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
                        <td>{{item.nome | uppercase}}</td>
                        <td>{{item.email | lowercase}}</td>
                        <td>{{item.cpf | mask : '000.000.000-00' }}</td>
                        <td>{{item.dataCadastro | date : 'dd/MM/yyyy'}}</td>
                        <td>{{item.dataUltimaAlteracao | date : 'dd/MM/yyyy'}}</td>
                        <td>

                            <button class="btn btn-primary btn-sm mr-1" data-target="#modal_edicao" data-toggle="modal"
                                title="Atualizar" (click)="obterCliente(item.idCliente)">
                                <i class="fa fa-pencil-alt"></i>
                            </button>

                            <button class="btn btn-danger btn-sm mr-1" data-target="#modal_exclusao" data-toggle="modal"
                                title="Excluir" (click)="obterCliente(item.idCliente)">
                                <i class="fa fa-trash"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="6">
                            Quantidade de registros: {{(clientes | filter: filtro).length}}
                        </td>
                    </tr>
                </tfoot>

            </table>

            <!-- régua de paginação -->
            <pagination-controls (pageChange)="handlePageChange($event)" previousLabel="Anterior" nextLabel="Próximo"
                responsive="true">
            </pagination-controls>

        </div>

    </div>
</div>

<!-- modal de edição -->
<div id="modal_edicao" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">Atualizar Cliente</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div *ngIf="mensagem_edicao" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Sucesso!</strong> {{mensagem_edicao}}
                    <button type="button" class="close" aria-label="Close" (click)="limparMensagens()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <form #formEdicao="ngForm" (submit)="atualizarCliente(formEdicao)">

                    <input type="hidden" name="idCliente" [(ngModel)]="cliente.idCliente" />

                    <div class="form-group">
                        <label>Nome do Cliente:</label>
                        <input type="text" class="form-control" name="nome" [(ngModel)]="cliente.nome" />
                        <div *ngFor="let item of errors.Nome" class="text-danger">
                            <small><i class="fa fa-exclamation-circle"></i> {{item}}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" readonly class="form-control" name="email" [(ngModel)]="cliente.email" />
                    </div>

                    <div class="form-group">
                        <label>CPF:</label>
                        <input type="text" readonly class="form-control" name="cpf" [(ngModel)]="cliente.cpf"
                            mask="000.000.000-00" />
                    </div>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary ml-2" >
                        Salvar Alterações
                    </button>

                </form>

            </div>
        </div>
    </div>
</div>

<!-- modal de exclusão -->
<div id="modal_exclusao" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white">Excluir Cliente</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir o cliente selecionado?</p>
                <hr />

                <div>
                    Nome do Cliente: <strong>{{cliente.nome}}</strong>
                </div>

                <div>
                    Email: <strong>{{cliente.email}}</strong>
                </div>

                <div>
                    CPF: <strong>{{cliente.cpf}}</strong>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="excluirCliente(cliente.idCliente)">
                    Confirmar Exclusão
                </button>
            </div>

        </div>

    </div>

</div>